<template>
  <div>
    <h1>Cow Crazy!</h1>
    <h4 v-if='compatibleNetwork'>Vote for your favorite cow</h4>
    <h4 v-else class="warning">WARNING: This DAPP is only compatible with the Ropsten and Ganache Test Chain Networks</h4>

    <ul v-if='compatibleNetwork'>
      <li>
        James
        <div> Votes: {{ jamesVotes }}</div>
        <img src=https://i.imgur.com/OC1iqqT.jpg/>
        <button class="btn btn-info btn-sm" @click="voteForCow('James', $event)">Vote</button>
      </li>
      <li>
        Tim
        <div>Votes: {{ timsVotes }}</div>
        <img src=https://i.imgur.com/i7pFDjI.jpg/>
        <button class="btn btn-info btn-sm" @click="voteForCow('Tim', $event)">Vote</button>
      </li>
      <li>
        Tilda
        <div>Votes: {{ tildasVotes }}</div>
        <img src=https://i.imgur.com/TpGvHBL.jpg/>
        <button class="btn btn-info btn-sm" @click="voteForCow('Tilda', $event)">Vote</button>
      </li>
      <li>
        Lucy
         <div>Votes: {{ lucysVotes }}</div>
        <img src=https://i.imgur.com/FPjejpE.jpg/>
        <button class="btn btn-info btn-sm" @click="voteForCow('Lucy', $event)">Vote</button>
      </li>
      <li>
        Jerry
        <div>Votes: {{ jerrysVotes }}</div>
        <img src=https://i.imgur.com/ZskWyib.jpg/>
        <button class="btn btn-info btn-sm" @click="voteForCow('Jerry', $event)">Vote</button>
      </li>
    </ul>

    <img v-if="pending" id="loader" src="https://loading.io/spinners/double-ring/lg.double-ring-spinner.gif">
  </div>
</template>

<script>
export default {
  name: 'cows',
  data () {
    return {
      compatibleNetwork: true,
      pending: false,
      numberOfCows: 5,

      jamesVotes: 0,
      timsVotes: 0,
      tildasVotes: 0,
      lucysVotes: 0,
      jerrysVotes: 0,
    }
  },

  beforeCreate () {
    this.$store.dispatch('getContractInstance').then(result => {
      setInterval(() => {
         this.isNetworkCompatible()
         this.getAllVotes()
      }, 1000)
    })
  },

  methods: {
    getAllVotes () {
      for (let i = 0; i < this.numberOfCows; i++) {
        this.$store.state.contractInstance().getVotes.call(i, (err, result) => {
          /* Can't get votes need to return something */
          if (err)
            return

          let cowName = result[0]
          let votes = result[1].toNumber()

          switch(cowName) {
            case 'JAMES':
              this.jamesVotes = votes
              break
            
            case 'TIM':
              this.timsVotes = votes
              break

            case 'TILDA':
              this.tildasVotes = votes
              break

            case 'LUCY':
              this.lucysVotes = votes
              break

            case 'JERRY':
              this.jerrysVotes = votes
              break
          }
        })

        this.pending = false
      }
    },

    voteForCow (name, event) {
      this.pending = true

      this.$store.state.contractInstance().voteForCow.sendTransaction(name.toUpperCase(), { 
        gas: 300000, 
        from: this.$store.state.web3.coinbase 
      }, (err, result) => {})
    },

    isNetworkCompatible () {
      if (this.$store.state.web3.networkId != 3 && this.$store.state.web3.networkId != 1919) 
        this.compatibleNetwork = false
    }
  },
}
</script>

<style scoped>

#loader {
  width:150px;
}
ul {
    margin-right: 30px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap:25px;
    grid-row-gap:25px;
}
img {
    width:  200px;
    height: 200px;
    border: 2px solid #444444;
    border-radius: 50%;
}
li {
    padding: 20px;
    margin-right: 5px;
    background-color:#FFE3FF;
}
*{
   color: #444444;
}
button {
  margin-top: 10px;
  width: 150px;
  color: white;
  font-size: 20px;
}
button:hover {
  cursor: pointer;
}
.warning {
  color:red;
  font-size: 20px;
}
</style>