<template>
  <div>
 <metamask-state/>
 <cows-component/>
</div>
</template>
<script>
import MetamaskState from '@/components/MetamaskState'
import CowsComponent from '@/components/CowsComponent'

import { mapState } from 'vuex'

export default {
  name: 'proxeus-test',
  
  beforeCreate () {
    this.$store.dispatch('registerWeb3')
  },

  components: {
    'metamask-state': MetamaskState,
    'cows-component': CowsComponent
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
